<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eleonorvinicius.ace"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <!-- uses-permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- configuration -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".configuration.activity.ListConfigurationActivity"
            android:label="@string/list_configuration" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".configuration.activity.EditConfigurationActivity"
            android:label="@string/edit_configuration"
            android:parentActivityName=".configuration.activity.ListConfigurationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".configuration.activity.ListConfigurationActivity" />
        </activity>
        <activity
            android:name=".configuration.activity.CreateConfigurationActivity"
            android:label="@string/create_configuration"
            android:parentActivityName=".configuration.activity.ListConfigurationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".configuration.activity.ListConfigurationActivity" />
        </activity>

        <!-- user -->
        <activity
            android:name=".user.activity.ListUserActivity"
            android:label="@string/list_user" >
        </activity>
        <activity
            android:name=".user.activity.EditUserActivity"
            android:label="@string/edit_user"
            android:parentActivityName=".user.activity.ListUserActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.activity.ListUserActivity" />
        </activity>

        <!-- receivers -->
        <receiver android:name=".broadcast.receiver.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>